.searchThumb{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 70px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;

    @media (min-width:1200px) {
        flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
    }
    
    
}

.searchMainThumb{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}

.searchThumb__title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.input{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    &:focus {
        outline: none;
      }

}

.inputContainer {
    position: relative;
  }

  
  .iconSearch {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 10px; /* Регулирует отступ слева */
    transform: translateY(-50%);
  }
  

  

  
  
  